.bennar-area{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.bennar-details h1{
    color: darkorange;
    font-size: 50px;
}
.bennar-details span{
    color: blueviolet;
}
.bennar-details p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 25px;
}
.bennar-img{
   background: none;
}
.bennar-details button{
    border-radius: 10px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 20px;
}